# Dependencies
node_modules
pnpm-lock.yaml

# Build output
docs-dist
*.log
packages/spark-chat/lib
packages/spark-design/lib

# IDE
.history
.DS_Store
.cursor/**
.env
.vscode
.idea

# Temp files
*.module.css
*.module.css.map
.dumi/tmp
.dumi/tmp-*

# Test coverage
coverage
.nyc_output

.cursor