name: ci

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  lint:
    runs-on: ubuntu-latest
    name: ci / lint
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm run lint

  # build:
  #   runs-on: ubuntu-latest
  #   name: ci / build
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Setup pnpm
  #       uses: pnpm/action-setup@v4
  #       with:
  #         version: 9

  #     - name: Setup Node
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 20
  #         cache: pnpm

  #     - name: Install
  #       run: pnpm install --frozen-lockfile

  #     - name: Build
  #       run: pnpm run build

  docs:
    runs-on: ubuntu-latest
    name: ci / docs
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run docs:build

  # test:
  #   runs-on: ubuntu-latest
  #   name: ci / test
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Setup pnpm
  #       uses: pnpm/action-setup@v4
  #       with:
  #         version: 9

  #     - name: Setup Node
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: 20
  #         cache: pnpm

  #     - name: Install (root tooling)
  #       run: pnpm install --frozen-lockfile

  #     - name: Test (spark-design)
  #       run: |
  #         cd packages/spark-design
  #         pnpm install --frozen-lockfile
  #         pnpm run test
